body {
  color: #0d0c1d;
  background-color:#f5f5f5;
  font-family: 'Roboto', sans-serif;
}
header {
  color: #0d0c1d;
  background-color:#f5f5f5;
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color:#f5f5f5;
}

#navContainer {
  display:inline-flex;
  flex-direction:row-reverse;
  }

  #logo {
    text-decoration: none;
    color: #0d0c1d;
    text-transform: uppercase;
    letter-spacing:2px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav-item {
    text-transform:uppercase;
    letter-spacing:1px;
    font-size: 1.25rem;
    
  }
  #homeHeroBackground {
    background-image: url('../img/amalfi.jpg');
    background-size:cover;
    min-height: 60vh;
    position:relative;
    color:#f5f5f5;
    text-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
    
  }

  #routesHeroBackground {
    background-image: url('../img/bruges.jpg');
    background-size:cover;
    background-position:center;
    min-height: 60vh;
    position:relative;
    color:#f5f5f5;
    text-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
    
  }

  #getInTouchHero {
    background-image: url('../img/ams.jpg');
    background-size:cover;
    background-position:center;
    min-height: 60vh;
    position:relative;
    color:#f5f5f5;
    text-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
    
  }
  .hero-h1 {
    font-size: 4rem;
  }

  .color-overlay {
    position: absolute;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,.2)
  }
  
  @media (max-width: 768px) {
    #homeHeroBackground {
      min-height: 40vh;
    }
    #routesHeroBackground {
      min-height: 40vh;
    }
    #getInTouchHero {
      min-height: 40vh;
    }

    .hero-h1 {
      font-size: calc(1.525rem + 3.3vw);
    }
  }



#whoWeAre {
  
  
}

#test1 {
  background-color: rgba(58, 113, 109, 0.6);
  border:none;
  color:#f5f5f5;
}
#test2 {
  background-color: rgba(58, 113, 109, 0.6);
  border:none;
  color:#f5f5f5;
}

#medi {
  font-family: 'Lobster', cursive;
}
#balk {
  font-family: 'Special Elite', cursive;
}


#scandi {
  font-family: 'Skranji', cursive;
}



.locations {
  font-family: 'Roboto Flex', sans-serif;
}
.mono-card {
  font-family: 'Roboto Mono', monospace;
}

#quotes {
 font-style: italic;
}

form {
  background-color: rgba(24, 119, 149, 0.3);
  font-family: 'Roboto Flex', sans-serif;
}

@media screen and (max-width: 960px) {
  .wrapper-2 {
    display: flex;
    flex-direction: column;
  }
  .wrapper-2 div:first-child {
    order: 3;
  }
}

#footer {
  font-size: 1.5rem;
}

#copyright {
  text-align:center;
  font-size:1.5rem;
}

.socials {
  list-style-type: none;
  text-align: right;
}

.socials li {
  display:inline;
  margin:1rem;
  font-size:2rem;
}

.fa-arrow-up {
  font-size:2rem;
}

@media screen and (max-width: 576px) {
  .fa-arrow-up {
    margin: 1rem;
  }
  .socials {
    margin-left: 3.5rem;
  }

  #copyright {
    margin-left: 1rem;
  }
}
